@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> <a asp-controller="Job" asp-action="AddDetails">New Job Application</a></h2>
</div>
