@model  Registeration
<html>
<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    @{
        ViewData["Title"] = "Registeration Form";
    }

</head>    

<body>
    <form method="post"  asp-action="DisplayDetails" asp-controller="Job" >

        <div style="margin-left:25%;margin-right:25%;">

            <div><h1>Job Application Form</h1></div>

            <div><hr /></div>

            <partial name="_Form1" />
            <partial name="_Form2" />
            <partial name="_AddressDetails" />
            
            <div class="row">
                <div>
                    <label asp-for="EMail" style="font-size:18px;font-family:'Arial Narrow Bold' ">Email :</label><br />
                    <input asp-for="EMail" style="width:300px" type="tel" placeholder="myname@gmail.com" /><br />
                    <label style="font-size:12px">example@example.com</label><br />
                    <span asp-validation-for="EMail" class="text-danger"></span><br />
                </div>
            </div>

            <div class="row">
                <div>
                    <label asp-for="PhoneNumber" style="font-size:18px;font-family:'Arial Narrow Bold' ">Phone Number :</label><br />
                    <input asp-for="PhoneNumber" type="tel" style="width:300px" placeholder="(000) 000 0000" /><br />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div>
                    <label asp-for="LinkedIn" style="font-size:18px">LinkedIn :</label><br />
                    <input asp-for="LinkedIn" style="width:300px" />
                </div>
            </div>

            <div><hr /></div>

            <div class="row">
                <div>
                    <label asp-for="PositionApplied" style="font-size:18px;font-family:'Arial Narrow Bold'">Position Applied :</label><br />
                    <select asp-for="PositionApplied" style="width:200px">
                        <option value=" "></option>
                        <option value="MarketingSpecialist">MarketingSpecialist </option>
                        <option value="SalesManager">SalesManager </option>
                        <option value="ProductLead">ProductLead </option>
                        <option value="Developer ">Developer </option>

                    </select><br />
                    <span asp-validation-for="PositionApplied" class="text-danger"></span><br />
                </div>
            </div>

            <div class="row">
                <div>
                    <label asp-for="Aboutus" style="font-size:18px;font-family:'Arial Narrow Bold'">How did you hear about us :</label><br />
                    <select asp-for="Aboutus" style="width:200px">
                        <option> </option>
                        <option value="SocialMedia">SocialMedia</option>
                        <option value="LinkedIn">LinkedIn</option>
                        <option value="Event">Event</option>
                        <option value="CompanyWebsite">CompanyWebsite</option>
                        <option value="Family">Family</option>
                    </select>
                </div>
            </div>

            <div class="row"><br /></div>

            <div class="row">
                <div>
                    <label asp-for="AppStartDate" style="font-size:18px;font-family:'Arial Narrow Bold'">Available Start Date :</label><br />
                    <input asp-for="AppStartDate" type="date" /><br />
                    <span asp-validation-for="AppStartDate" class="text-danger"></span><br />
                </div>
            </div>

            <div class="row"><br /></div>

            <div class="row">
                <div>
                    <label asp-for="CoverLetter" style="font-size:18px;font-family:'Arial Narrow Bold'">Cover Letter :</label><br />
                    <textarea asp-for="CoverLetter" style="resize:both;width:400px;height :100px;"></textarea>
                </div>
            </div>
            <br /><br />
            <div>
                <table align="center">
                    <tr>
                        <td><button type="submit" style="background-color:forestgreen">Submit</button></td>
                    </tr>
                </table>
            </div>


        </div>
    </form>
</body>
</html>